.weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapAndFeed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

#topItems {
    border-radius: 20px;
    height: 380px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 95%;
    padding-top: 45px;
    align-items: center;
}

#loader {
    display: flex;
    justify-content: center;
}

#cityName {
    text-align: center;
}