.title {
    text-align: center;
    font-size: 6.8rem;
    font-style: bold;
}

.fade-in {
    opacity: 50%;
    transition:opacity 0.8s
    }
    
/* .fade-in:hover {
    opacity:100%;
    transition:opacity 0.5s
} */