#commentCard {
  height: 135px;
  width: 70%;
  margin-top: 7px;
  margin-left: 30px;
}

#cardd {
  background-color: #ede4df;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#feedCard {
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.22);
  justify-content: center;
}

#inputFeed {
  margin-left: 30px;
}

#feedImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 10px;
}
