#icon img {
    height: 110px;
    width: 110px;
    margin-top: 8px;
    animation: swing 3s infinite ease-in-out;
}


#card {
border-radius: 20px;
text-align: center;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


@keyframes swing {
    0%, 100% { transform: rotate(-20deg);}
    20% {transform: scale(.98);}
    70% {transform: rotate(20deg);}
    80% {transform: scale(.98);}
    }
    
 