.title {
   color: rgb(223, 76, 8);
   font-size: 4rem;
   font: bold;
  
}

/* .blink{
  animation: blink 2s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
} */


#header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 40px;
   
}


#img {
    display: inline;
    z-index: -5;
    right: 50%;
    top: 28%;
    overflow: hidden;
    /* transform: rotate(45deg); */
    /* filter: drop-shadow(10px 10px 10px #c5c5c5); */
    /* animation: glitch 7s infinite ease-in-out; */
  }

  